* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  box-sizing: border-box;
}

.card-body,
#notice {
  width: 500px;
  margin: 10px auto;
}

.shadow {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 3px rgb(207, 207, 207);
}

.to-do-header {
  font-size: 19px;
  font-weight: bold;
}

.drag-btn,
.card-header,
.task-entry,
.task-item {
  padding: 10px;
}

.task-entry {
  width: 100%;
  border: 0;
}

.task-entry::placeholder {
  font-style: italic;
  font-size: 14px;
}

.task-item {
  display: flex;
  align-items: center;
  border: 1px solid #fee;
}

.icons {
  height: 15px;
  width: 15px;
  float: right;
}

#to-do-list {
  height: auto;
}

.drag-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.task-description {
  width: 100%;
  margin: 0 10px;
}